<div class="logo-actions">
    <img src="../../../assets/images/ellipse-logo.png" alt="">
    <div>
        <p class="company">Office</p>
        <p class="user">taver@shima.com</p>
    </div>
    <span><i class="zmdi zmdi-chevron-down"></i></span>
</div>
<div class="new-action">
    <button><span class="material-symbols-outlined">add</span>New Message</button>
</div>
<ul class="email-actions">
    <li>
        <a routerLink="inbox">
            <span class="material-symbols-outlined">hard_drive</span> Inbox
            <!-- <i>8</i> -->
        </a>
    </li>
    <li>
        <a routerLink="inbox">
            <span class="material-symbols-outlined">send</span> Sent
        </a>
    </li>
    <li>
        <a routerLink="inbox">
            <span class="material-symbols-outlined">star</span> Favourite
        </a>
    </li>
    <li>
        <a routerLink="inbox">
            <span class="material-symbols-outlined">schedule</span> Snooze
        </a>
    </li>
    <li>
        <a routerLink="inbox">
            <span class="material-symbols-outlined">delete</span> Trash
        </a>
    </li>
</ul>
<div class="labels">
    <p>labels</p>
    <ul class="labels">
        <li>
            <a routerLink=""><span class="">&#x2022;</span>Personal</a>
        </li>
        <li>
            <a routerLink=""><span class="">&#x2022;</span>School</a>
        </li>
        <li>
            <a routerLink=""><span class="">&#x2022;</span>Office</a>
        </li>
        <li>
            <a routerLink=""><span class="">&#x2022;</span>Social</a>
        </li>
        <li>
            <a routerLink=""><span class="material-symbols-outlined material">add</span>Add label</a>
        </li>
    </ul>
</div>