<div class="text-contain" #textEl [ngClass]="{'shake': showValidation && !control.valid}">
    <div class="text-element" class="{{ showValidation && !control.valid? 'danger' : validationClass}}">
        <input #inputEl
        [type]="type" 
        [placeholder]="placeholder"  
        [(ngModel)]="value"
        (ngModelChange)="inputChanged()"
        />
         <i *ngIf="type == 'password'" class="fa fa-eye-slash password-eye" (click)="showPassword($event)"></i>
         <i *ngIf="type != 'password' && value != ''" class="fa-solid fa-circle-xmark clear-input" (click)="clearInput()"></i> 
    </div>
    <p *ngIf="showValidation && !control.valid" class="text-danger">{{control.getValidationMessages().join(",")}}</p>     
</div>