.mail-layout{
    width: 100%;
    height: 100%;
}

.mail-layout .navigation{
    position: fixed;
    height: 100%;
    width: 15%;
    background-color: var(--theme-background);
}

.mail-layout .inbox{
    position: fixed;
    display: block;
    height: 100%;
    width: 20%;
    left: 15%;
    border-right: 1px solid var(--border-color);
}


.mail-layout .open-message{
    position: fixed;
    left: 35%;
    height: 100%;
    right: 0;
}
