<div class="login-page">
    <div class="logo">
        <img src="../../../assets/images/sr-logo.png" alt="logo">
    </div>
    <div class="forgot">
        <div class="action-area">
            <div class="login-form">
                <form [formGroup]="loginForm" (submit)="submitLogin()">
                    <h1>Reset your password</h1>
                    <p>Type in your registered email address to reset password</p>
                    <text-input placeholder="Email Address" formControlName="email" 
                    [showValidation]="isSubmitting"
                    [control]="loginForm.formControl('email')"
                    type="email"></text-input>
                    
                    <div class="login-actions">
                        <button type="submit">Next <i class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </form>
                <button class="alt-action" type="button" (click)="login()">Back to Login</button>
            </div>
            <div class="bottom">
                <div>
                    <a routerLink="">Terms and Conditions</a>
                    <span>&#x2022;</span>
                    <a routerLink="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>