.message-actions{
    display: flex;
    flex-direction: column;
}

.sender-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 40px;
    width: 100%;
}

.sender-details .left img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    vertical-align: sub;
    margin-right: 10px;
}

.sender-details .left div{
    display: inline-block;
    vertical-align: super;
}

.sender-details .left div p{
    margin: 0;
}

.sender-details .left div .mb-date{
    display: none;
}

.sender-details .left div p:first-child{
    font-size: 16px;
    font-family: "Roboto-Bold";
    margin-bottom: 10px;
}

.sender-details .left div p:last-child{
    color: var(--light-text);
    font-size: 12px;
}

.sender-details .left div p:last-child span{
    color: var(--text-color);
    font-size: 12px;
}

.sender-details .right{
  text-align: right;
}

.sender-details .right span:last-child{
    background-color: var(--grey);
    font-family: "MaterialSymbols";
    border-radius: 100%;
    padding: 8px 10px;
    font-size: 16px;
    margin-left: 70px;
}

.email-tools{
    border-bottom: 1px solid var(--border-color);
    padding: 20px 20px;
    width: 100%;
}

.email-tools span{
    font-family: "MaterialSymbols";
    font-size: 24px;
    padding: 10px 20px;
}

.email-tools span.mb-icon{
    display: none;
}

.message-details{
    padding: 40px;
}

.message-details h3{
    font-family: "Roboto-Bold";
    font-size: 22px;
}

.message-details .attachments{
    margin-top: 40px;
}

.message-details .attachments h4{
    display: inline-block;
    font-family: "Roboto-Bold";
    font-size: 16px;
    margin-right: 20px;
}

.message-details .attachments .attach-item{
    border: 1px solid var(--border-color);
    border-radius: 70px;
    padding: 10px 20px 10px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.message-details .attachments .attach-item div{
    display: inline-block;
}

.message-details .attachments .attach-item div p{
    margin: 0;
}

.message-details .attachments .attach-item span{
    background-color: var(--grey);
    border-radius: 100%;
    margin-right: 10px;
    font-family: "MaterialSymbols";
    font-size: 16px;
    padding: 10px 12px;
    vertical-align: super;
}


/*********************************************************************/
/***************************Mobile phones*****************************/
/*********************************************************************/

@media only screen and (min-width: 360px) and (max-width: 575.98px) and (orientation:portrait) {
    /* For portrait layouts only */
    .message-actions .sender-details{
        order: 2;
    }

    .message-actions .email-tools{
        order: 1;
    }

    .email-tools span.mb-icon{
        display: inline;
    }

    .sender-details{
        padding: 20px 20px;
    }

    .email-tools{
        padding: 10px 10px;
    }

    .email-tools span{
        font-size: 24px;
        padding: 10px 10px;
    }

    .sender-details .left div{
        vertical-align: sub;
    }

    .sender-details .left div p:first-child{
        margin-bottom: 0;
    }

    .sender-details .left div .mb-date{
        display: block;
    }

    .sender-details .right span:last-child{
        margin-left: 10px;
    }

    .sender-details .right span:first-child{
        display: none;
    }

    .message-details{
        padding: 20px;
    }
}
