<div class="message-actions">
    <div class="sender-details">
        <div class="left">
            <img src="../../../assets/images/users/user-1.png" alt="sender">
            <div>
                <p class="s">Tavershima Ako</p>
                <p>From: <span>tavershima@gmail.com</span></p>
                <p class="mb-date">24th Mar 2025, 09:48AM</p>
            </div>
        </div>
        <div class="right">
            <span>24th Mar 2025, 09:48AM</span>
            <span class="material-symbols-outlined">more_vert</span>
        </div>
    </div>
    <div class="email-tools">
        <span class="material-symbols-outlined mb-icon" (click)="inbox()">
            arrow_back
        </span>
        <span class="material-symbols-outlined">
            schedule
        </span>
        <span class="material-symbols-outlined">
            folder
        </span>
        <span class="material-symbols-outlined">
            star
        </span>
        <span class="material-symbols-outlined">
            delete
        </span>
        <span class="material-symbols-outlined">
            reply_all
        </span>
    </div>
</div>
<div class="message-details">
    <h3>Proposal for Implementing a Remote Work Policy</h3>
    <p>
        Dear Team,
    </p>
    <p>
        I hope this email finds you well. As you are aware, the COVID-19 pandemic has forced many businesses to
        adapt to a remote work model, and we have been no exception. Over the past year, our team has been
        working remotely, and it has become clear that this is a viable option for us.<br />
        We have been closely monitoring the situation and have observed that remote work has several benefits,
        such as increased productivity, cost savings, and employee satisfaction. It also allows for more
        flexibility and work-life balance for our team members.
    </p>
    <p>
        I would like to schedule a team meeting to discuss this proposal further and hear your thoughts and
        concerns. Please let me know if you have any availability next week, and we will schedule the meeting
        accordingly.
    </p>
    <p>
        In the meantime, please let me know if you have any questions or concerns.<br />
        Thank you for your time and consideration.
    </p>
    <p>
        Best regards,<br />
        Home Boy
    </p>
    <div class="attachments">
        <h4>Attachment</h4> <a routerLink="">Download all</a>
        <div>
            <div class="attach-item">
                <span class="material-symbols-outlined">attach_file</span>
                <div>
                    <p>Official Document</p>
                    <p>2.4 MB</p>
                </div>
            </div>
            <div class="attach-item">
                <span class="material-symbols-outlined">attach_file</span>
                <div>
                    <p>Official Document</p>
                    <p>2.4 MB</p>
                </div>
            </div>
        </div>
    </div>
</div>