
@font-face{
    src: url('/assets/fonts/MaterialSymbolsOutlined-Regular.ttf');
    font-family: "MaterialSymbols";
}
@font-face{
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-family: "Roboto-Regular";
}

@font-face{
    src: url('./assets/fonts/Roboto-Light.ttf');
    font-family: "Roboto-Light";
}

@font-face{
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-family: "Roboto-Medium";
}

@font-face{
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-family: "Roboto-Bold";
}

@font-face{
    src: url('./assets/fonts/Roboto-Thin.ttf');
    font-family: "Roboto-Thin";
}

:root{
    --theme-color: #5D5FEF;
    --theme-light: #5d5fef13;
    --theme-background: #F5F7FB;
    --border-color: #C9C9C9;
    --text-color: #303030;
    --inactive-text: #888888;
    --grey: #F0F0F0;
    --pale: #F9F9F9;
    --light-text: #AEAEAE;
    --success: #3FB416;
    --warning: #F2994A;
    --brown: #AE924B;
}

*{
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    font-weight: 200;
    font-size: 14px;
    scrollbar-width: thin;
    color: var(--text-color);
}

body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

a:link, a:active, a:visited{
    color: var(--theme-color);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}